html, body {
    height: 97%;
}
.top {
    width: 100%;
    height: 10%;
    border: solid 0.5px #DBDBDB;
    text-align: center;
}
.main-container {
    width: 100%;
    height: 100%;
}
.container {
    
    width: 100%;
    height: 80%;
    position: relative;
    text-align: center;
}
.content-container > #div-1 {
    display: none;
}
.content-container > #div-2 {
    display: none;
}
.content-container > #div-3 {
    display: none;
}

.close-button {

    
    
    position: absolute;
top: 12%;
right: 0.5%;
}
.nested-div {
    width: 100%;
    height: 100%;
    border: solid 0.5px #DBDBDB;
}
.left-align {
    float: left;
}
.inline-container {
    
    height: 10%;
}
.content-container {
	width: 100%;
    height: 90%;
}
.right-align {
    float: right;
}
.footer {
    width: 100%;
    height: 10%;
    border: solid 0.5px #DBDBDB;
    text-align: center;
}
.div-click:first-of-type {
    margin-left: 25%;
}
.div-click:last-of-type {
    margin-right: 25%;
}
.inline-block {
    display: inline-block;
}
